.container {
  position: relative;
}

.nav {
  font-family: "Inter", sans-serif;
  background: #1b2d2a;
  color: #edf7f6;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background 0.2s ease;
  position: relative;
  z-index: 10;
}

.nav:hover {
  background: #2c4541;
}

.menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 250px;
  background-color: #edf7f6;
  padding: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transform: translateX(-110%);
  transition: transform 0.3s ease;
  z-index: 5;
  overflow-y: auto;
  border-radius: 10px;
}

.menu.show {
  transform: translateX(0);
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter h1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #1b2d2a;
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input input {
  margin-right: 10px;
}

.input label {
  color: #1b2d2a;
  cursor: pointer;
}

.title {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  color: #1b2d2a;
  margin-bottom: 10px;
}

.menu::-webkit-scrollbar {
  width: 6px;
}

.menu::-webkit-scrollbar-thumb {
  background-color: rgba(27, 45, 42, 0.5);
  border-radius: 3px;
}

.menu::-webkit-scrollbar-track {
  background: transparent;
}

@media (max-width: 768px) {
  .menu {
    width: 80%;
  }
}
