.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

.ola {
  font-size: 32px;
  font-weight: 700;
  color: #d4dbda;
}

.ola span {
  color: #d4dbda;
}

h2 {
  font-size: 24px;
  margin-top: 10px;
  color: #d4dbda;
}

.ordersContainer {
  width: 100%;
  max-width: 800px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.orderCard {
  background-color: #edf7f6;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.orderHeader p {
  margin: 0;
  color: #1b2d2a;
  font-weight: 500;
}

.orderHeader span {
  font-weight: 700;
}
.orderHeader p {
  margin-top: 5px;
}
.statusSection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.pendingSection,
.payedSection {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pending {
  color: #b30000;
  font-weight: 600;
}

.payed {
  color: #008000;
  font-weight: 600;
}

.payBtn,
.reviewBtn {
  background-color: #ffdddd;
  border: 1px solid #ff5c5c;
  border-radius: 5px;
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.payBtn:hover,
.reviewBtn:hover {
  background-color: #ffcccc;
}

.reviewResume {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #1b2d2a;
  font-weight: 500;
}

.stars span {
  color: #1b2d2a;
  font-size: 18px;
  margin-right: 2px;
}
