.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 350px;
  padding: 110px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.inputcontainer {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input {
  width: 100%;
  font-family: "Inter", sans-serif;
  align-self: center;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.input:active {
  border-color: #1b2d2a;
}
button {
  font-family: "Inter", sans-serif;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #1b2d2a;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #042b29;
}
button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}
.title {
  text-align: center;
  font-size: 40px;
  color: #1b2d2a;
}
.label {
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
  color: #1b2d2a;
  font-size: 1.4rem;
  font-weight: 700;
}
.auth {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.message {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: #1b2d2a;
}

.link {
  color: #042b29;
  text-decoration: none;
  font-weight: 700;
}
.link:hover {
  text-decoration: underline;
}
.error {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  color: red;
  font-size: 17px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.error.show {
  opacity: 1;
  visibility: visible;
}
