.catalogoContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cardsContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .catalogoContainer {
    flex-direction: column;
    padding: 10px;
  }
}
